body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 300px;
    margin: auto;
}
.container h1 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
}
.container h1 .info {
    color: #BBB;
    font-size: 12px;
    font-weight: normal;
}
.container ul {
    padding: 0;
    list-style: none;
}
.container li {
    line-height: 1.5;
}
.container li > span.done {
    text-decoration: line-through;
    color: #bbb;
}
.container .command {
    font-size: 12px;
    cursor: pointer;
    color: #00E;
}
.container input[type="text"] {
    padding: 2px;
}